#### One Hot Encoder

In [173]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [174]:
# Sample data
data = {
    'Cryptocurrency': ['Bitcoin', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash'],
    'Price': [45000, 3000, 1.5, 150, 0.3, 200, 100, 50, 3000, 1.5, 150, 0.3, 200, 100, 50],
    'Trend': ['up', 'down', 'down', 'up', 'down', 'up', 'up', 'down', 'down', 'up', 'down', 'down', 'up', 'up', 'down'],
    'Buy' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Sell' : ['no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'Profit' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Volume' : [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000]
}

In [181]:
# Create a DataFrame

df = pd.DataFrame(data)

In [182]:
df.head()

  Cryptocurrency    Price Trend  Buy Sell Profit  Volume
0        Bitcoin  45000.0    up  yes   no    yes    1000
1       Ethereum   3000.0  down   no  yes     no    2000
2         Ripple      1.5  down   no  yes     no    3000
3       Litecoin    150.0    up  yes   no    yes    4000
4       Dogecoin      0.3  down   no  yes     no    5000

In [183]:
# Select the columns to encode
categorical_columns = ['Cryptocurrency', 'Trend', 'Buy', 'Sell', 'Profit']

In [184]:
# Initialize OneHotEncoder

one_hot=OneHotEncoder( sparse_output=False, drop='first')   #   one-hot ozgaruvchini belgiladik

In [185]:
# Fit and transform the data
one_hot_data = one_hot.fit_transform(df[categorical_columns])

In [186]:
one_hot_df = pd.DataFrame(one_hot_data, columns=one_hot.get_feature_names_out(categorical_columns))

In [188]:
print(one_hot_df.head())

   Cryptocurrency_Bitcoin  Cryptocurrency_Dash  Cryptocurrency_Ethereum  \
0                     1.0                  0.0                      0.0
1                     0.0                  0.0                      1.0
2                     0.0                  0.0                      0.0
3                     0.0                  0.0                      0.0
4                     0.0                  0.0                      0.0

   Cryptocurrency_Litecoin  Cryptocurrency_Monero  Cryptocurrency_Ripple  \
0                      0.0                    0.0                    0.0
1                      0.0                    0.0                    0.0
2                      0.0                    0.0                    1.0
3                      1.0                    0.0                    0.0
4                      0.0                    0.0                    0.0

   Cryptocurrency_Zcash  Trend_up  Buy_yes  Sell_yes  Profit_yes
0                   0.0       1.0      1.0       0.0         1.0
1                   0.0       0.0      0.0       1.0         0.0
2                   0.0       0.0      0.0       1.0         0.0
3                   0.0       1.0      1.0       0.0         1.0
4                   0.0       0.0      0.0       1.0         0.0

In [190]:
# Yangi One-Hot Encoding qilingan ma'lumotlarni original DataFrame'ga qo'shish
final_df = pd.concat([df[['Price', 'Volume']], one_hot_df], axis=1)

# Natijani ko'rish
final_df.head()

,Price,Volume,Cryptocurrency_Bitcoin,Cryptocurrency_Dash,Cryptocurrency_Ethereum,Cryptocurrency_Litecoin,Cryptocurrency_Monero,Cryptocurrency_Ripple,Cryptocurrency_Zcash,Trend_up,Buy_yes,Sell_yes,Profit_yes
0,45000.0,1000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,3000.0,2000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.5,3000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,150.0,4000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
4,0.3,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

#### Pandas Get Dummies implementation

In [126]:
# Sample data
data = {
    'Cryptocurrency': ['Bitcoin', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash'],
    'Price': [45000, 3000, 1.5, 150, 0.3, 200, 100, 50, 3000, 1.5, 150, 0.3, 200, 100, 50],
    'Trend': ['up', 'down', 'down', 'up', 'down', 'up', 'up', 'down', 'down', 'up', 'down', 'down', 'up', 'up', 'down'],
    'Buy' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Sell' : ['no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'Profit' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Volume' : [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000]
}

In [127]:
# Use get_dummies() for One - Hot Encoding

import pandas as pd 

df_dummies = pd.get_dummies(df, columns=['Cryptocurrency', 'Trend', 'Buy', 'Sell', 'Profit'])

df_dummies.head()

,Price,Volume,Cryptocurrency_ Dogecoin,Cryptocurrency_Bitcoin,Cryptocurrency_Dash,Cryptocurrency_Ethereum,Cryptocurrency_Litecoin,Cryptocurrency_Monero,Cryptocurrency_Ripple,Cryptocurrency_Zcash,Trend_down,Trend_up,Buy_no,Buy_yes,Sell_no,Sell_yes,Profit_no,Profit_yes
0,45000.0,1000,False,True,False,False,False,False,False,False,False,True,False,True,True,False,False,True
1,3000.0,2000,False,False,False,True,False,False,False,False,True,False,True,False,False,True,True,False
2,1.5,3000,False,False,False,False,False,False,True,False,True,False,True,False,False,True,True,False
3,150.0,4000,False,False,False,False,True,False,False,False,False,True,False,True,True,False,False,True
4,0.3,5000,True,False,False,False,False,False,False,False,True,False,True,False,False,True,True,False

In [128]:
df_dummies.astype(int)

,Price,Volume,Cryptocurrency_ Dogecoin,Cryptocurrency_Bitcoin,Cryptocurrency_Dash,Cryptocurrency_Ethereum,Cryptocurrency_Litecoin,Cryptocurrency_Monero,Cryptocurrency_Ripple,Cryptocurrency_Zcash,Trend_down,Trend_up,Buy_no,Buy_yes,Sell_no,Sell_yes,Profit_no,Profit_yes
0,45000,1000,0,1,0,0,0,0,0,0,0,1,0,1,1,0,0,1
1,3000,2000,0,0,0,1,0,0,0,0,1,0,1,0,0,1,1,0
2,1,3000,0,0,0,0,0,0,1,0,1,0,1,0,0,1,1,0
3,150,4000,0,0,0,0,1,0,0,0,0,1,0,1,1,0,0,1
4,0,5000,1,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0
5,200,6000,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,1
6,100,7000,0,0,0,0,0,1,0,0,0,1,0,1,1,0,0,1
7,50,8000,0,0,0,0,0,0,0,1,1,0,1,0,0,1,1,0
8,3000,9000,0,0,0,1,0,0,0,0,1,0,1,0,0,1,1,0
9,1,10000,0,0,0,0,0,0,1,0,0,1,0,1,1,0,0,1
10,150,11000,0,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
11,0,12000,1,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0
12,200,13000,0,0,1,0,0,0,0,0,0,1,0,1,1,0,0,1
13,100,14000,0,0,0,0,0,1,0,0,0,1,0,1,1,0,0,1
14,50,15000,0,0,0,0,0,0,0,1,1,0,1,0,0,1,1,0

#### Label Encoding

In [129]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [130]:
# Sample data
data = {
    'Cryptocurrency': ['Bitcoin', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash'],
    'Price': [45000, 3000, 1.5, 150, 0.3, 200, 100, 50, 3000, 1.5, 150, 0.3, 200, 100, 50],
    'Trend': ['up', 'down', 'down', 'up', 'down', 'up', 'up', 'down', 'down', 'up', 'down', 'down', 'up', 'up', 'down'],
    'Buy' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Sell' : ['no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'Profit' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Volume' : [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000]
}

In [131]:
# Create a DataFrame
df = pd.DataFrame(data, columns=['Cryptocurrency', 'Price', 'Trend', 'Buy', 'Sell', 'Profit', 'Volume'])

In [192]:
df.head(2)

  Cryptocurrency    Price Trend  Buy Sell Profit  Volume
0        Bitcoin  45000.0    up  yes   no    yes    1000
1       Ethereum   3000.0  down   no  yes     no    2000

In [132]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

In [133]:
# Select the columns to encode
columns_to_encode = ['Cryptocurrency', 'Trend', 'Buy', 'Sell', 'Profit']

In [134]:
df[columns_to_encode] = df[columns_to_encode].apply(label_encoder.fit_transform)

In [193]:
df.head(3)

  Cryptocurrency    Price Trend  Buy Sell Profit  Volume
0        Bitcoin  45000.0    up  yes   no    yes    1000
1       Ethereum   3000.0  down   no  yes     no    2000
2         Ripple      1.5  down   no  yes     no    3000

## Ordinal Encoding

In [136]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [137]:
# Sample data
data = {
    'Cryptocurrency': ['Bitcoin', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash'],
    'Price': [45000, 3000, 1.5, 150, 0.3, 200, 100, 50, 3000, 1.5, 150, 0.3, 200, 100, 50],
    'Trend': ['up', 'down', 'down', 'up', 'down', 'up', 'up', 'down', 'down', 'up', 'down', 'down', 'up', 'up', 'down'],
    'Buy' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Sell' : ['no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'Profit' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Volume' : [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000]
}

In [138]:
# Create a DataFrame
df = pd.DataFrame(data, columns=['Cryptocurrency', 'Price', 'Trend', 'Buy', 'Sell', 'Profit', 'Volume'])

In [139]:
# Pandas DataFrame'ga o'zgartirish
df = pd.DataFrame(data)

# Trend uchun tartibli kodlash
ordinal_encoder = OrdinalEncoder(categories=[['down', 'up']])  # 'down' -> 0, 'up' -> 1
df['Trend_encoded'] = ordinal_encoder.fit_transform(df[['Trend']])

print(df)

   Cryptocurrency    Price Trend  Buy Sell Profit  Volume  Trend_encoded
0         Bitcoin  45000.0    up  yes   no    yes    1000            1.0
1        Ethereum   3000.0  down   no  yes     no    2000            0.0
2          Ripple      1.5  down   no  yes     no    3000            0.0
3        Litecoin    150.0    up  yes   no    yes    4000            1.0
4        Dogecoin      0.3  down   no  yes     no    5000            0.0
5            Dash    200.0    up  yes   no    yes    6000            1.0
6          Monero    100.0    up  yes   no    yes    7000            1.0
7           Zcash     50.0  down   no  yes     no    8000            0.0
8        Ethereum   3000.0  down   no  yes     no    9000            0.0
9          Ripple      1.5    up  yes   no    yes   10000            1.0
10       Litecoin    150.0  down   no  yes     no   11000            0.0
11       Dogecoin      0.3  down   no  yes     no   12000            0.0
12           Dash    200.0    up  yes   no    yes   13000            1.0
13         Monero    100.0    up  yes   no    yes   14000            1.0
14          Zcash     50.0  down   no  yes     no   15000            0.0

In [140]:
df.drop('Trend_encoded', axis=1, inplace=True)

In [141]:
# Select the columns to encode
columns_to_encode = ['Cryptocurrency', 'Buy', 'Sell', 'Profit']

In [158]:
# QOLGAN USTUNLARNI lABEL ENCODER ORQALI KODLASH

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

In [159]:

df[columns_to_encode] = df[columns_to_encode].apply(label_encoder.fit_transform)

In [160]:
df.head()

   Cryptocurrency    Price  Trend  Buy  Sell  Profit  Volume
0               0  45000.0      7    0     0       0    1000
1               1   3000.0      8    1     1       1    2000
2               1      1.5      8    1     1       1    3000
3               1    150.0      7    0     0       0    4000
4               1      0.3      8    1     1       1    5000

## Frequency Encoding

In [149]:
import pandas as pd

In [151]:
# Sample data
data = {
    'Cryptocurrency': ['Bitcoin', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash'],
    'Price': [45000, 3000, 1.5, 150, 0.3, 200, 100, 50, 3000, 1.5, 150, 0.3, 200, 100, 50],
    'Trend': ['up', 'down', 'down', 'up', 'down', 'up', 'up', 'down', 'down', 'up', 'down', 'down', 'up', 'up', 'down'],
    'Buy' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Sell' : ['no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'Profit' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Volume' : [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10# 000, 11000, 12000, 13000, 14000, 15000]
}

In [153]:
df.head()

  Cryptocurrency    Price Trend  Buy Sell Profit  Volume
0        Bitcoin  45000.0    up  yes   no    yes    1000
1       Ethereum   3000.0  down   no  yes     no    2000
2         Ripple      1.5  down   no  yes     no    3000
3       Litecoin    150.0    up  yes   no    yes    4000
4       Dogecoin      0.3  down   no  yes     no    5000

In [152]:
df = pd.DataFrame(data)

In [154]:
categorical_columns = ['Cryptocurrency', 'Trend', 'Buy', 'Sell', 'Profit']

In [155]:
df[categorical_columns] = df[categorical_columns].apply(lambda col: col.map(col.value_counts()))

In [156]:
print(df)

    Cryptocurrency    Price  Trend  Buy  Sell  Profit  Volume
0                1  45000.0      7    7     7       7    1000
1                2   3000.0      8    8     8       8    2000
2                2      1.5      8    8     8       8    3000
3                2    150.0      7    7     7       7    4000
4                2      0.3      8    8     8       8    5000
5                2    200.0      7    7     7       7    6000
6                2    100.0      7    7     7       7    7000
7                2     50.0      8    8     8       8    8000
8                2   3000.0      8    8     8       8    9000
9                2      1.5      7    7     7       7   10000
10               2    150.0      8    8     8       8   11000
11               2      0.3      8    8     8       8   12000
12               2    200.0      7    7     7       7   13000
13               2    100.0      7    7     7       7   14000
14               2     50.0      8    8     8       8   15000

££ Target Encoding (Mean)

In [194]:
import pandas as pd

In [198]:
# Sample data
data = {
    'Cryptocurrency': ['Bitcoin', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash', 'Ethereum', 'Ripple', 'Litecoin', ' Dogecoin', 'Dash', 'Monero', 'Zcash'],
    'Price': [45000, 3000, 1.5, 150, 0.3, 200, 100, 50, 3000, 1.5, 150, 0.3, 200, 100, 50],
    'Trend': ['up', 'down', 'down', 'up', 'down', 'up', 'up', 'down', 'down', 'up', 'down', 'down', 'up', 'up', 'down'],
    'Buy' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Sell' : ['no', 'yes', 'yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'Profit' : ['yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no'],
    'Volume' : [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000]
}

In [203]:
df = pd.DataFrame(data)

In [204]:
df.head(2)

  Cryptocurrency    Price Trend  Buy Sell Profit  Volume
0        Bitcoin  45000.0    up  yes   no    yes    1000
1       Ethereum   3000.0  down   no  yes     no    2000

In [210]:
categorical_columns = ['Cryptocurrency', 'Trend', 'Buy', 'Sell']
target = 'Profit'

In [217]:
for col in categorical_columns:
    target_mean = df.groupby(col)[target].mean().to_dict()  # Har bir kategoriya uchun targetning o'rtachasi
    df[col + '_encoded'] = df[col].map(target_mean)

df.head()

,Cryptocurrency,Price,Trend,Buy,Sell,Profit,Volume,Cryptocurrency_encoded,Trend_encoded,Buy_encoded,Sell_encoded
0,1,45000.0,1,1,0,1,1000,1.0,1.0,1.0,1.0
1,3,3000.0,0,0,1,0,2000,0.0,0.0,0.0,0.0
2,6,1.5,0,0,1,0,3000,0.5,0.0,0.0,0.0
3,4,150.0,1,1,0,1,4000,0.5,1.0,1.0,1.0
4,0,0.3,0,0,1,0,5000,0.0,0.0,0.0,0.0

In [219]:
# Faqat Cryptocurrency uchun Target Encoding
target_mean = df.groupby('Cryptocurrency')['Profit'].mean().to_dict()
df['Cryptocurrency_encoded'] = df['Cryptocurrency'].map(target_mean)

df.head()

,Cryptocurrency,Price,Trend,Buy,Sell,Profit,Volume,Cryptocurrency_encoded,Trend_encoded,Buy_encoded,Sell_encoded
0,1,45000.0,1,1,0,1,1000,1.0,1.0,1.0,1.0
1,3,3000.0,0,0,1,0,2000,0.0,0.0,0.0,0.0
2,6,1.5,0,0,1,0,3000,0.5,0.0,0.0,0.0
3,4,150.0,1,1,0,1,4000,0.5,1.0,1.0,1.0
4,0,0.3,0,0,1,0,5000,0.0,0.0,0.0,0.0

In [207]:
df.head()

   Cryptocurrency    Price  Trend  Buy  Sell  Profit  Volume
0               1  45000.0      1    1     0       1    1000
1               3   3000.0      0    0     1       0    2000
2               6      1.5      0    0     1       0    3000
3               4    150.0      1    1     0       1    4000
4               0      0.3      0    0     1       0    5000