### 1 -  Machine Learning Project!

In [1]:
# 1. Data collection 
# 2. Data Preprocessing
# 3. Data analysis
# 4. Data visualization
# 5. Feature engineering
# 6. Split the data into training and testing
# 7. Model evaluation
# 8. Model deployment

#### Data Preprocessing

In [ ]:
## if you want to install any library in python, you can use pip install library_name
# pip install pandas
# pip install numpy
# pip install matplotlib
# pip install seaborn

In [2]:
# 1. Upload the data
# 2. Import the required libraries

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('telefon turini aniqlash2.csv')

In [4]:
df.head(2)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,20.0,756.0,2549,9.0,7.0,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,Yashil,136,...,905.0,1988.0,2631,17.0,3.0,7,1,1,0,2

In [5]:
df.tail(2)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
1998,1512,0,0.9,0,4,1,46,0.1,Qora,145,...,336.0,670.0,869,18.0,10.0,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,Qora,168,...,483.0,754.0,3919,19.0,4.0,2,1,1,1,3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               1997 non-null   float64
 8   Rangi                          2000 non-null   object
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      1999 non-null   float64
 11  Asosiy kamera                  1998 non-null   float64
 12  Qurilma xajmi(pix)             1998 non-null   float64
 13  Qurilma ekran kengligi(pix)    1997 non-null   float64
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              1999 non-null   float64
 16  Qurilma ekran kengligi(cm)     1999 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
dtypes: float64(8), int64(13), object(1)
memory usage: 343.9+ KB

In [7]:
df.describe()

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Vazni,Protsessor yadrolari soni,...,Qurilma xajmi(pix),Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1997.000000,2000.000000,1999.00000,...,1998.000000,1997.000000,2000.000000,1999.000000,1999.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501803,140.249000,4.51976,...,645.416416,1251.328493,2124.213000,12.308154,5.768384,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288519,35.399655,2.28817,...,443.871085,432.235268,1084.732044,4.213650,4.357048,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.00000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.00000,...,283.250000,875.000000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.00000,...,565.500000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.00000,...,947.750000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.00000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [8]:
# bitta ustunni ko'rish 

df['Oldi_kamera'].head(2)

0    1
1    0
Name: Oldi_kamera, dtype: int64

In [9]:
df['Asosiy kamera'].head(2)

0    2.0
1    6.0
Name: Asosiy kamera, dtype: float64

#### Missing values

In [10]:
# tushib qolgan ustunlarni ko'rish
df.isnull().sum()

battereya_hajmi                  0
blutus                           0
protsessor_tezligi               0
ikkita simkartalik               0
Oldi_kamera                      0
4G                               0
Ichki_xotira                     0
tel_ingichgaligi                 3
Rangi                            0
Vazni                            0
Protsessor yadrolari soni        1
Asosiy kamera                    2
Qurilma xajmi(pix)               2
Qurilma ekran kengligi(pix)      3
ram                              0
Qurilma xajmi(cm)                1
Qurilma ekran kengligi(cm)       1
Bir_quvvatlashdagi gaplashish    0
3g                               0
sensorli                         0
wifi                             0
telefon_turi                     0
dtype: int64

In [ ]:
# 1.drop 
# df.drop('ustun nomi', axis=1, inplace=True)

# df.drop('tel_ingichgaligi', axis=1, inplace=True)

In [11]:
# 2. Mean 


df['Asosiy kamera'].fillna(df['Asosiy kamera'].mean(), inplace = True)

C:\Users\Maftuna\AppData\Local\Temp\ipykernel_21088\3869195077.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Asosiy kamera'].fillna(df['Asosiy kamera'].mean(), inplace = True)

In [20]:
# Ixtiyoriy ustunni ko'rish 

df['3g']

0       0
1       1
2       1
3       1
4       1
       ..
1995    1
1996    1
1997    1
1998    1
1999    1
Name: 3g, Length: 2000, dtype: int64

In [22]:
# 3. Mode 

df.fillna(df['Rangi'].mode()[0], inplace = True)

C:\Users\Maftuna\AppData\Local\Temp\ipykernel_21088\3107921611.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Qora' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna(df['Rangi'].mode()[0], inplace = True)

In [23]:
# 4. Median
df.fillna(df['Oldi_kamera'].median(), inplace = True)

In [24]:
# 5. Forward fill
df.fillna(method='ffill', inplace = True)

C:\Users\Maftuna\AppData\Local\Temp\ipykernel_21088\3395657509.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace = True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               2000 non-null   object
 8   Rangi                          2000 non-null   object
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      2000 non-null   object
 11  Asosiy kamera                  2000 non-null   int64
 12  Qurilma xajmi(pix)             2000 non-null   object
 13  Qurilma ekran kengligi(pix)    2000 non-null   object
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              2000 non-null   object
 16  Qurilma ekran kengligi(cm)     2000 non-null   object
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
 22  kamera_sifati                  2000 non-null   int64
dtypes: float64(1), int64(15), object(7)
memory usage: 359.5+ KB

In [27]:
# umumiy to'drish usuallari
missing_col = df.columns[df.isnull().sum() > 0]

for col in missing_col:
    if df[col].dtype == 'object':
        df[col].fillna(df[col].mode()[0], inplace = True)
    else:
        df[col].fillna(df[col].mean(), inplace = True)

In [28]:
missing_col

Index([], dtype='object')

In [12]:
df['Asosiy kamera'] = df['Asosiy kamera'].astype(int)

In [13]:
# Yangi feature qo'shish

df['kamera_sifati'] = df['Oldi_kamera'] + df['Asosiy kamera']

In [14]:
df['kamera_sifati']

0        3
1        6
2        8
3        9
4       27
        ..
1995    14
1996     3
1997     4
1998     9
1999    21
Name: kamera_sifati, Length: 2000, dtype: int64

In [15]:
df.head(1)

,battereya_hajmi,blutus,protsessor_tezligi,ikkita simkartalik,Oldi_kamera,4G,Ichki_xotira,tel_ingichgaligi,Rangi,Vazni,...,Qurilma ekran kengligi(pix),ram,Qurilma xajmi(cm),Qurilma ekran kengligi(cm),Bir_quvvatlashdagi gaplashish,3g,sensorli,wifi,telefon_turi,kamera_sifati
0,842,0,2.2,0,1,0,7,0.6,Qizil,188,...,756.0,2549,9.0,7.0,19,0,0,1,1,3

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   battereya_hajmi                2000 non-null   int64
 1   blutus                         2000 non-null   int64
 2   protsessor_tezligi             2000 non-null   float64
 3   ikkita simkartalik             2000 non-null   int64
 4   Oldi_kamera                    2000 non-null   int64
 5   4G                             2000 non-null   int64
 6   Ichki_xotira                   2000 non-null   int64
 7   tel_ingichgaligi               1997 non-null   float64
 8   Rangi                          2000 non-null   object
 9   Vazni                          2000 non-null   int64
 10  Protsessor yadrolari soni      1999 non-null   float64
 11  Asosiy kamera                  2000 non-null   int64
 12  Qurilma xajmi(pix)             1998 non-null   float64
 13  Qurilma ekran kengligi(pix)    1997 non-null   float64
 14  ram                            2000 non-null   int64
 15  Qurilma xajmi(cm)              1999 non-null   float64
 16  Qurilma ekran kengligi(cm)     1999 non-null   float64
 17  Bir_quvvatlashdagi gaplashish  2000 non-null   int64
 18  3g                             2000 non-null   int64
 19  sensorli                       2000 non-null   int64
 20  wifi                           2000 non-null   int64
 21  telefon_turi                   2000 non-null   int64
 22  kamera_sifati                  2000 non-null   int64
dtypes: float64(7), int64(15), object(1)
memory usage: 359.5+ KB

In [19]:
df.shape

(2000, 23)

In [17]:
# df['battereya_hajmi'].dropna(inplace=)    # drop only NaN values
# df['battereya_hajmi'].drop                 # drop the column

In [29]:
# faqat NaN qiymatlari mavjud ustunlarni ko'rish 

df.columns[df.isna().any()]

Index([], dtype='object')